# Entorno virtual
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Modelos entrenados
outputs/models/*.pkl
outputs/models/*.joblib
outputs/models/*.h5

# Datos grandes
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
*.log

# Streamlit
.streamlit/models/random_forest_desercion.pkl
